body {
  font-family: Arial, sans-serif;
  text-align: center;
}

#image-container {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

#button-container {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
}